In [1]:
person = "Meredith"

In [2]:
# old version
print('my name is {}'.format(person))

my name is Meredith

In [3]:
# f string literal
print(f'my name is {person}')

my name is Meredith

In [8]:
# f string literals also work well with dictionaries
d = {'a': 153, 'b': 240}

In [9]:
myList = [0,1,2]

In [12]:
print(f"my number is {d['a']}")

my number is 153

In [13]:
print(f"my number is {myList[0]}")

my number is 0

In [24]:
library = [('Author', 'Topic', 'Pages'), ('Twain', 'Rafting', 601), ('Feynman', 'Physics', 95), ('Hamilton', 'Mythology', 144)]

In [25]:
library

[('Author', 'Topic', 'Pages'),
 ('Twain', 'Rafting', 601),
 ('Feynman', 'Physics', 95),
 ('Hamilton', 'Mythology', 144)]

In [26]:
for book in library:
    print(f"Author is {book[0]}")

Author is Author
Author is Twain
Author is Feynman
Author is Hamilton

In [27]:
# without spacing arguments
for author, topic, pages in library:
    print(f"{author} {topic} {pages}")

Author Topic Pages
Twain Rafting 601
Feynman Physics 95
Hamilton Mythology 144

In [32]:
# with additional spacing arguments
for author, topic, pages in library:
    # adding > symbol after colon before min width will align properly
    print(f"{author:{10}} {topic:{30}} {pages:->{10}}")

Author     Topic                          -----Pages
Twain      Rafting                        -------601
Feynman    Physics                        --------95
Hamilton   Mythology                      -------144

In [33]:
# adding symbol between : and > will fill up space with said symbol

In [34]:
from datetime import datetime

In [35]:
today = datetime(year=2022, month=9, day=19)

In [36]:
print(f"{today}")

2022-09-19 00:00:00

In [37]:
print(f"{today:%B %d, %Y}")

September 19, 2022